body{
    margin: 0;
}

article{
    margin:10px;
}


.MainItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffe0a6;
    margin:10px;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:20px;
    border-radius:20px;
    font-family: Arial, sans-serif;
}

.MainItem img{
    width: 200px;
    min-width: 25%;
    margin-right: 10px;
    margin: auto;
}

.MainItem h1, h2{
    font-family: 'Trebuchet MS', sans-serif;
}

.MainItem h1 {
    font-size: 40px;
}

.MainItem p{
    font-family: Arial, sans-serif;
}

.TextBox {
    max-width: 60%;
}

.secundaryButton{
  all: unset;
  padding:5px;
  border-radius:5px;
  background-color:orange;
  font-size:20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: orange;
}

.dropdown {
  float: left;
  overflow: hidden;
}


nav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;  border-radius:5px;
    background-color:#f2931d;
    font-size:20px;
}

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  font-size: 25px;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav{
    background-color: orange;
}
